<!DOCTYPE html>
<html lang="en" id="top">
  <head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventory{% endblock %}</title>
    <link href="{{ url_for('static', filename='styles/projectbase.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/projects.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
{% endblock %}</head>


<a class="return" href="{{ url_for('projects') }}">Return</a>


<div>
  <header>
  <h1>{{ project['name'] }}</h1>
  
  <div class="project-meta">
    <p>Date: {{ project['date'] }}</p>
    <p>Medium: {{ project['medium'] }}</p>
    <p>Artist: {{ project['artist'] }}</p>
  </div>

  <div class="project-description">
    {{ project['description'] }}
  </div>
  </header>
</div>

<div class="column">
  <div class="image-grid">
     <img src="{{ url_for('static', filename='img/projects/Inventory/01.jpg') }}"class="vert">
     <img src="{{ url_for('static', filename='img/projects/Inventory/02.jpg') }}"class="grid-image">
     <img src="{{ url_for('static', filename='img/projects/Inventory/03.jpg') }}"class="grid-image">
     <img src="{{ url_for('static', filename='img/projects/Inventory/04.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/05.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/06.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/07.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/08.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/09.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/10.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/11.jpg') }}"class="grid-image">
 <img src="{{ url_for('static', filename='img/projects/Inventory/12.jpg') }}"class="grid-image">
 </div>
 </div>

