<link href="{{ url_for('static', filename='styles/projectbase.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/photofeature1.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/projects.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">


<div class="hero-container">
  <img class="hero" src="{{ url_for('static', filename='img/photofeatures/photofeature1/03.jpg') }}">
 
 </div>

<a class="return" href="{{ url_for('projects') }}">Return</a>


<div>
  <header>
  <h1>{{ project['name'] }}</h1>
  
  <div class="project-meta">
    <p>Date: {{ project['date'] }}</p>
    <p>Medium: {{ project['medium'] }}</p>
    <p>Artist: {{ project['artist'] }}</p>
  </div>

  <div class="project-description">
    {{ project['description'] }}
  </div>
  </header>
</div>


<div class="column">
    <div class="image-grid">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/08.jpg') }}" alt="Image 1" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/07.jpg') }}" alt="Image 2" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/06.jpg') }}" alt="Image 3" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/05.jpg') }}" alt="Image 4" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/10.jpg') }}" alt="Image 5" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/11.jpg') }}" alt="Image 6" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/12.jpg') }}" alt="Image 7" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/04.jpg') }}" alt="Image 8" class="vert">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/02.jpg') }}" alt="Image 10" class="grid-image">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/01.jpg') }}" alt="Image 11" class="vert">
        <img src="{{ url_for('static', filename='img/photofeatures/photofeature1/09.jpg') }}" alt="Image 12" class="grid-image">
         
    </div>
</div>