<link href="{{ url_for('static', filename='styles/photofeature1.css') }}" rel="stylesheet" />


<a class="return" href="{{ url_for('index') }}">Return</a>


<!--<div class="column">
    <div class="image-grid">
        <img src="static/img/photofeatures/photofeature1/08.jpg" alt="Image 1" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/07.jpg" alt="Image 2" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/06.jpg" alt="Image 3" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/05.jpg" alt="Image 4" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/10.jpg" alt="Image 5" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/11.jpg" alt="Image 6" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/12.jpg" alt="Image 7" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/04.jpg" alt="Image 8" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/03.jpg" alt="Image 9" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/02.jpg" alt="Image 10" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/01.jpg" alt="Image 11" class="grid-image">
        <img src="static/img/photofeatures/photofeature1/09.jpg" alt="Image 12" class="grid-image">
         Add more images as needed 
    </div>
</div> -->