<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
<link href="{{ url_for('static', filename='styles/shop1.css') }}" rel="stylesheet" />
    <title>buy</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    </head>

<body>
    <div>
<a class="return" href="{{ url_for('projects') }}">Return</a>
</div>



<div class="shirt-container">
    <img class="shirt" src="{{ url_for('static', filename='img/projects/R26/02.jpg') }}">
    <div class="text-content">
        <div class="shirttitle">R26 tee</div>
        <div class="shirtdescription">
             <p>Block print with screenprint overlay. Sold out of most sizes but we will consider made to order inquires for this design.</p>
            <p>please email regularbeachmedia@gmail.com for inquiries.</p>
            <p>New tag is being used on all products</p>
            <p>Ultrasound image created and photographed by Asha Mcgee.</p>
        </div>
    </div>
</div>

<div class="images">
     <img src="{{ url_for('static', filename='img/projects/R26/01.jpg') }}">
     <img src="{{ url_for('static', filename='img/projects/R26/02.jpg') }}">
     <img src="{{ url_for('static', filename='img/projects/R26/03.jpg') }}">
     <img src="{{ url_for('static', filename='img/projects/R26/04.jpg') }}">
 <img src="{{ url_for('static', filename='img/projects/R26/05.jpg') }}">
 <img src="{{ url_for('static', filename='img/projects/R26/06.jpg') }}">
 <img src="{{ url_for('static', filename='img/projects/R26/07.jpg') }}">

</div>


