<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/Directory.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/new.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>{% block title %}regular beach{% endblock %}</title>
</head>

<body>

    <div class="directory"></div>

        <div class="title">(((rb)))26
    </div>

    <div class=B><a href="https://shop.regularbeach.com">B</a></div>

    <a href="{{ url_for('index') }}" class="satellite sat-i">i</a>
    <a href="{{ url_for('video') }}" class="satellite sat-m">m</a>
    <a href="{{ url_for('who') }}" class="satellite sat-who">w</a>
    <a href="{{ url_for('new') }}" class="satellite sat-d">d</a>
    <a href="{{ url_for('about') }}" class="satellite sat-a">a</a>
    </div>

</body