<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/footer.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet" />
      
</head>

<body>
    <footer class="footer">

<div class="footer-item">
<nav>
                    <ul>
                        <li><a href="{{ url_for('projects') }}">Projects</a></li>
                        <li><a href="{{ url_for('video') }}">Video</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('index') }}">Index</a></li>
                    </ul>
                </nav>
        </div>

        <div class="footer-item">
          <h2>© Regular Beach 2026</h2>
          <h3>by <a href="https://new-graphics-2000.com/work" class="link1">NG2</a></h3>
        </div>
      </footer>
      