<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/footer.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet" />
      
</head>

<body>
    <footer class="footer">
        <div class="footer-item">
          <img class="logo" src="{{ url_for('static', filename='img/currentlogo.png') }}" alt="logo">
          <h2>2024</h2>
        </div>
        <div class="footer-item">
          <h2>built by <a href="https://new-graphics-2000.org/work" class="link1">NG2</a></h2>
        </div>
      </footer>
      