<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/header.css') }}" rel="stylesheet" />

      
</head>

<body>
    <header>

    <div class="row">

        <div class="content">

            <a class="title" href="{{ url_for('new') }}">
                REG<br>ULAR<span class="line-break">BEACH</span>
            </a>

            <nav>
                <ul>
                    <li><a class="letterprintlink" href="https://shop.regularbeach.com">Shop</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('video') }}">Video</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>

        </div>

        <img
            class="featurephoto"
            src="{{ url_for('static', filename='img/index/marmar.jpg') }}"
            alt=""
        >

    </div>

</header>
</body>
</html>
