<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/header.css') }}" rel="stylesheet" />

      
</head>

<body>
    <header>
        <div class="column column-right">
            <img id="staticimage" class="featurephoto" src="{{ url_for('static', filename='img/index/julia2.jpg') }}">
</div>
        <div class="row">
            <div class="column column-left">
                <div class="responsive-title">
                    <a class="title" href="{{ url_for('index') }}">
                        REG<br>ULAR<span class="line-break">BEACH</span>
                    </a>
                </div>
                
                <nav>
                    <ul>
                        <li><a href="{{ url_for('projects') }}">Projects</a></li>
                        <li><a href="{{ url_for('video') }}">Video</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav>
            </div>
        
        </div>
    </header>
</body>
</html>
