<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
    <title>{% block title %}regular beach{% endblock %}</title>


{%extends "base.html"%}



{% include 'header.html' %}



{% block main %}
<body>
  <div class="index">

            <div class="small_middle">
            <img class="blue_squat" src="{{ url_for('static', filename='img/index/blue_squat.png') }}">
        </div>

                <div class="small_middle">
            <img class="blue_squat" src="{{ url_for('static', filename='img/index/will_green.png') }}">
        </div>

            <div class="featured">
      <img src="{{ url_for('static', filename='img/index/jj.jpg') }}">
      <a class="letterprintlink" href="{{ url_for('shop2') }}">(((#02))) "R"///Tees</a>
    </div>

    <img class="photofeature1" src="{{ url_for('static', filename='img/projects/Inventory/04.jpg') }}">
      <a class="photofeature1link" href="{{ url_for('project', project_name='Inventory') }}">Inventory by Hendrix Park</a>

    <div class="featured">
      <img src="{{ url_for('static', filename='img/protologo/A3.jpg') }}" alt="Image 13" class="max">
      <a class="letterprintlink" href="{{ url_for('shop1') }}">(((#01))) Proto///Logo Tees</a>
    </div>
  

    <div class="featured">
      <img src="{{ url_for('static', filename='img/photofeatures/photofeature2/05.jpg') }}" alt="Image 13" class="seth">
      <a class="pf2" href="{{ url_for('project', project_name='photofeature2') }}">photo feature with @texture.swatch</a>
    </div>
    <img src="{{ url_for('static', filename='img/projects/lumberdiv/lumberdiv_web.jpg') }}" alt="Regular Beach index" class="lumberdiv">
  <div class="featured">
    <img src="{{ url_for('static', filename='img/letterprint/max-shirt.gif') }}" alt="Image 13" class="max">
    <a class="letterprintlink" href="{{ url_for('project', project_name='letterprints') }}">(((Regular Beach))) *letter print* shirts>>></a>

  </div>

  <div class="column column-right">
    <img id="staticimage" class="featurephoto" src="{{ url_for('static', filename='img/index/px-18.png') }}">

    <img id="gif" class="featurephoto" src="{{ url_for('static', filename='img/index/px-18.gif') }}">
    
</div>


  <div class="video1">
    <iframe src="https://www.youtube.com/embed/divJYbZkLLI?si=uS7xDOmEr0QjaX4E;controls=0" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" 
      allowfullscreen>
    </iframe>
  </div>
</div>
</body>
{% endblock %}




