<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>{% block title %}regular beach{% endblock %}</title>
</head>

{%extends "base.html"%}



{% include 'header.html' %}



{% block main %}
<body>
  <div class="index">

            <div class="small_middle">
            <img class="blue_squat" src="{{ url_for('static', filename='img/scotland.gif') }}">
        </div>

            <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/R26/05.jpg') }}">
      <a class="letterprintlink" href="{{ url_for('project', project_name='R26') }}">(((rb)))26///Tees</a>
    </div>

            <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/julia.jpg') }}">
      <a class="letterprintlink" href="{{ url_for('project', project_name='RTees') }}">(((#02))) "R"///Tees</a>
    </div>


    <div class="featured">
      <img src="{{ url_for('static', filename='img/protologo/A3.jpg') }}" alt="Image 13" class="max">
      <a class="letterprintlink" href="{{ url_for('project', project_name='ProtologoTees') }}">(((#01))) Proto///Logo Tees</a>
    </div>
  
  <div class="featured">
    <img src="{{ url_for('static', filename='img/letterprint/max-shirt.gif') }}" alt="Image 13" class="max">
    <a class="letterprintlink" href="{{ url_for('project', project_name='letterprints') }}">(((Regular Beach))) *letter print* shirts>>></a>

  </div>

  <div class="column column-right">
    <img id="staticimage" class="featurephoto" src="{{ url_for('static', filename='img/index/px-18.png') }}">

    <img id="gif" class="featurephoto" src="{{ url_for('static', filename='img/index/px-18.gif') }}">
  </div>
  </div>
</body>
{% endblock %}




