<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>{% block title %}regular beach{% endblock %}</title>
</head>

{%extends "base.html"%}



{% include 'header.html' %}



{% block main %}
<body>
  <div class="index">

    <div class="featured">
  <a class="letterprintlink" href="https://shop.regularbeach.com">New Styles Online</a></span>
  </div>

                <div class="featured">
      <img src="{{ url_for('static', filename='img/protologo/A3.jpg') }}" alt="Image 13" class="max">
      <img class="max" src="{{ url_for('static', filename='img/projects/R26/05.jpg') }}">
      <img class="max" src="{{ url_for('static', filename='img/index/p.jpg') }}">
    </div>
                          <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/bat.jpg') }}">
    </div>

                              <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/raven.jpg') }}">
      <img class="max" src="{{ url_for('static', filename='img/index/mar.jpg') }}">
    </div>
                               <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/mari.jpg') }}">
    </div>

                  <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/julia.jpg') }}">
      <img class="max" src="{{ url_for('static', filename='img/R/julia3.jpg') }}">
    </div>

            <div class="featured">
      <a class="letterprintlink" href="{{ url_for('project', project_name='R26') }}">(((rb)))26///Tees</a>
    </div>
                      <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/projects/R26/04.jpg') }}">
      <img class="max" src="{{ url_for('static', filename='img/index/26.jpg') }}">
      <img class="max" src="{{ url_for('static', filename='img/index/m.jpg') }}">
    </div>



    <div class="featured">
      <img src="{{ url_for('static', filename='img/index/a.jpg') }}" alt="Image 13" class="max">
      <a class="letterprintlink" href="{{ url_for('project', project_name='ProtologoTees') }}">(((#01))) Proto///Logo Tees</a>
    </div>

                                  <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/mike.jpg') }}">
        <img class="max" src="{{ url_for('static', filename='img/index/z.jpg') }}">
    </div>

                                   <div class="featured">
      <img class="max" src="{{ url_for('static', filename='img/index/g.jpg') }}">
        <img class="max" src="{{ url_for('static', filename='img/index/i.jpg') }}">
        <img class="max" src="{{ url_for('static', filename='img/index/h.jpg') }}">
    </div>
  
    <div class="featured">
          <img class="max" src="{{ url_for('static', filename='img/index/media.jpg') }}">
        <img class="max" src="{{ url_for('static', filename='img/index/r.jpg') }}">
    </div>

     <div class="featured">
              <img class="max" src="{{ url_for('static', filename='img/index/squad.jpg') }}">
    </div>

  <div class="featured">
    <img src="{{ url_for('static', filename='img/letterprint/max-shirt.gif') }}" alt="Image 13" class="max">
    <a class="letterprintlink" href="{{ url_for('project', project_name='letterprints') }}">(((Regular Beach))) *letter print* shirts>>></a>

  </div>


  </div>
  </div>
</body>
{% endblock %}






