<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/new.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <title>{% block title %}regular beach{% endblock %}</title>
</head>

{%extends "base.html"%}


{% block main %}

<body>
    <h2>(((rb)))26 <br>
    coming soon</h2>
</body>

{% endblock %}

{% include 'footer.html' %}
