<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ppt4ahi.css">
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/projects.css') }}" rel="stylesheet" />
    <title>projects</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
</head>

<body>
<a class="return" href="{{ url_for('new') }}">Return</a>


<ul>
  <!-- Header row for categories -->
  <li class="header-row">
    <span>Project</span>
    <span>Date</span>
    <span>Medium</span>
    <!--<span>Artist</span>-->
  </li>

  <!-- List of projects -->
{% for project in projects %}
  <li 
    class="project-item"
    data-hover-image="{{ url_for('static', filename=project['hover_image']) }}"
  >
    <a class="project-link" href="{{ url_for('project', project_name=project['name']) }}">
      {{ project['name'] }}
    </a>
    <span class="details">{{ project['date'] }}</span>
    <span class="details">{{ project['medium'] }}</span>
    <span class="details">{{ project['artist'] }}</span>
  </li>
{% endfor %}
</ul>
<div class="project-preview">
    <img id="project-preview-image" src="" alt="">
</div>



</body>


</html> 
<script>
const preview = document.querySelector('.project-preview');
const previewImage = document.querySelector('#project-preview-image');
const projects = document.querySelectorAll('.project-item');

projects.forEach(project => {
    const image = new Image();
    image.src = project.dataset.hoverImage;

    project.addEventListener('mouseenter', () => {
        previewImage.src = project.dataset.hoverImage;
        preview.classList.add('visible');
    });

    project.addEventListener('mousemove', (e) => {
        preview.style.left = `${e.clientX + 20}px`;
        preview.style.top = `${e.clientY + 20}px`;
    });

    project.addEventListener('mouseleave', () => {
        preview.classList.remove('visible');
    });
});
</script>