<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<link href="{{ url_for('static', filename='styles/video.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/header.css') }}" rel="stylesheet" />

</head>

<body>

    <a class="returnvid" href="{{ url_for('index') }}">Return</a>


<div class="video1">
    <iframe 
        src="https://www.youtube.com/embed/oFg2AelZs_M?si=vwX_xkUsnrSgAspO&amp;controls=0" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
</div>

<div class="video1">
    <iframe src="https://www.youtube.com/embed/RjHfWmiGGYI?si=dGfPUu3guS1wKMVD&amp;controls=0" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
</iframe>
    </div>

    <div class="video1">
        <iframe 
            src="https://www.youtube.com/embed/divJYbZkLLI?si=uS7xDOmEr0QjaX4E;controls=0" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>

    <div class="video1">
        <iframe 
            src="https://www.youtube.com/embed/0cc8wzXKKaQ?si=o1MgDyKiapncu328;controls=0" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>

    <div class="video1">
        <iframe 
            src="https://www.youtube.com/embed/N8I1AVZemxM?si=INSaDDqvYzKGYzD-;controls=0" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>

</body>
</html>


