
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Header */

header {
    width: 100%;
    position: relative;
    z-index: 10;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.content {
    position: relative;
    z-index: 2;
}


/* Title */

.line-break {
    display: block;
}

.title {
    line-height: .8;
    font-family: "stevie-sans", sans-serif;
    font-weight: 200;
    font-size: 14.7vw;
    color: rgb(17, 0, 253);
    letter-spacing: -.03em;
    padding: 0;
    display: inline-block;
    text-decoration: none;
}


/* Fonts */

@font-face {
    font-family: FT88-Expanded;
    src: url(/static/FT88-Expanded.ttf);
}


/* Navigation */

nav {
    font-family: FT88-Expanded;
    color: rgb(17, 0, 253);
    padding-top: 55px;
    padding-left: 15px;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(17, 0, 253);
}

nav a {
    font-size: 3vw;
}


/* Return link */

.return {
    font-family: "stevie-sans", sans-serif;
    font-weight: 200;
    color: rgb(17, 0, 253);
    padding-left: 15px;
    padding-top: 25px;
    font-size: 1.5em;
}


/* GIF / Feature image */

.featurephoto {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 2.5%;
    padding-right: 25px;
    width: 50%;
}


/* Tablet */

@media (max-width: 1080px) {

    .row {
        flex-direction: column;
        height: auto;
    }

    .title {
        margin-top: 0;
        font-size: 10em;
        width: 100%;
        position: relative;
        z-index: 3;
    }

    .featurephoto {
        position: relative;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        padding: 0;
    }

    nav {
        position: relative;

        z-index: 4;
        padding-top: 15px;
        padding-bottom: 15px;
    }


}


/* Mobile */

@media (max-width: 640px) {

    .title {
        font-size: 8em;
        display: inline-block;
    }

    nav {
        font-size: 1em;
        line-height: 1em;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .featurephoto {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        padding: 0;
    }
}
