.image-grid {
   position: relative;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust minmax for size */
    padding: 0; /* Optional padding */
    margin: 0;
   top: 80vh;
   align-items: center;
   left: 0;
}

.grid-image {
    width: 100vw; /* Ensure images fill the grid cell */
    height: auto; /* Maintain aspect ratio */
    margin: 0;
    object-fit: cover;
    left: 0;
}

.vert{
    width: auto;
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 640px) {
    .image-grid {
        top: 1vh;
    }
.vert{
    width: 100%;
    height: auto;
}
    }

    @media (max-width: 1080px) {
        .image-grid {
            top: 65vh;
        }
    
    }

    @media (max-width: 960px) {
        .image-grid {
            top: 50vh;
        }
    
    }
        