

.return {
    font-family: "stevie-sans", sans-serif;
    font-weight: 400;
    color: rgb(17, 0, 253);
    margin-top: 55px; /* Fixed distance below the title */
    padding-left: 15px;
    padding-top: 25px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(17, 0, 253);

}



li{
    font-family: "stevie-sans", sans-serif;
    color: rgb(17, 0, 253);
    margin-top: 55px; /* Fixed distance below the title */
    padding-left: 15px;
    font-size: 1.5em;
}


.detials{
text-align: right;
}