

h1{
    font-family: "stevie-sans", sans-serif;
    font-weight: 200;
    color: rgb(17, 0, 253);
    padding-left: 15px;
    padding: 2px 5px;
    margin: 25px 15px 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    background-color: white;
    display: inline-block;

    
}


.project-meta{
    padding: 2px;
    margin-left: 15px;
    font-family: "stevie-sans", sans-serif;
    font-weight: 200;
    font-size: 1em;
    line-height: 1em;
    color: rgb(17, 0, 253);
    background-color: white;
    display: block;
    width: 9em;
    left: 0;

}


.project-description{
    padding: 2px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "stevie-sans", sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: rgb(17, 0, 253);
    top: 10%;
    background-color: white;
    display: block;
    width: 15em;
    left: 0;
}


p{
    font-style: none;
}

.hero{
    position: relative;
    width: 100vw;
    z-index: -1;
    height: auto;
    top: 0;
    left: 0;
    display: block;

}


.hero-containter{
    position: relative;
    width: 100%
}

/*IMAGES */

.image-grid {
    position: relative;
     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust minmax for size */
     padding: 0; /* Optional padding */
     margin: 0;
    top: 80vh;
    align-items: center;
    left: 0;
    padding: 0;
 }
 
 .grid-image {
     width: 100vw; /* Ensure images fill the grid cell */
     height: auto; /* Maintain aspect ratio */
     margin: 0;
     object-fit: cover;
     left: 0;
     padding: 0;
 }
 
 .vert{
     width: auto;
     height: 100vh;
     object-fit: cover;
     padding: 0;
 }
 
 @media (max-width: 640px) {
     .image-grid {
     position: absolute;
     }
 .vert{
     width: 100VW;    
     height: auto;
 
 }
 
 .grid-image{
 
     width: 100%;
     height: auto;
 }
     }
     @media (max-width: 1080px) {
         .image-grid {
             top: 65vh;
         }
     
     }
 
     @media (max-width: 960px) {
         .image-grid {
             top: 50vh;
         }
     
     }
   